<div class="d-flex min-vh-10 w-100 justify-content-center pb-3 pt-3 pr-4 pl-4">
  <!-- Section nom -->
  @if (bio$ | async; as bio) {
    <div class="bio" routerLink="/">
      <h2 class="font-weight-bold">{{bio.owner.firstName}}</h2>
      <h2 class="font-weight-light">{{bio.owner.lastName}}</h2>
    </div>
  } @else {
    <div class="bio" routerLink="/">
      <h2 class="font-weight-bold">Loading...</h2>
    </div>
  }

  <!-- Buttons du menu en vue desktop  -->
  <div class="menu desktop">
    @for (item of menuItems; track item) {
    <button type="button" class="ml-2 mr-2 btn btn-outline-dark border-0 font-weight-bold"
            [routerLink]="(isHome$ | async) ? item.homePath : item.pagePath"
            [fragment]="(isHome$ | async) ? item.fragment : ''">{{item.title}}</button>
    }
  </div>

  <!-- Buttons du menu en vue mobile -->
  <div class="menu mobile">
    <div ngbDropdown class="d-inline-block" display="dynamic" container="body">
      <button class="btn btn-outline-dark border-0" ngbDropdownToggle>
        <i class="fas fa-lg fa-bars"></i>
      </button>

      @for (item of menuItems; track item) {
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
          <button ngbDropdownItem
                  [routerLink]="(isHome$ | async) ? item.homePath : item.pagePath"
                  [fragment]="(isHome$ | async) ? item.fragment : ''">{{item.title}}</button>
        </div>
      }
    </div>
  </div>
</div>
